img {
  width: 100%;
}

nav {
  background-color: rgb(108, 85, 149);
  margin-bottom: 1rem;
}

.form-control::placeholder {
  color: #bbb !important;
}

a {
  color: rgb(255, 245, 255);
}

a:hover {
  color: black;
}